/* 设置根元素的样式，限制最大宽度，居中显示，并添加内边距和居中对齐文本 */
#root {
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* 设置logo的基本样式，包括高度、内边距，以及滤镜过渡效果 */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
/* 当鼠标悬停在logo上时，添加蓝色阴影效果 */
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
/* 当鼠标悬停在React logo上时，添加青色阴影效果 */
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* 定义logo旋转的动画效果，从0度旋转到360度 */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 当用户没有设置减少动画效果时，让第二个链接中的logo无限循环旋转 */
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* 设置卡片组件的内边距 */
.card {
  padding: 2em;
}

/* 设置阅读文档提示文字的颜色 */
.read-the-docs {
  color: #888;
}

/* 设置侧边栏的样式，固定位置，设置宽度、背景颜色、内边距和阴影 */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 200px;
  background-color: #f0f0f0;
  padding: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* 设置侧边栏按钮的样式，块级显示，宽度占满侧边栏，并添加底部外边距 */
.sidebar button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

/* 设置购物篮容器的样式，调整左侧外边距，设置宽度、高度、背景颜色和阴影 */
.basket-container { 
  margin-left: 280px; 
  margin-top: 0; 
  padding-top: 0; 
  width: 60vh; 
  height: 100vh; 
  padding: 2em; 
  background-color: transparent; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  text-align: left; 
  word-wrap: break-word; 
  white-space: normal; 
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; 
  line-height: 1.6; 
  letter-spacing: 0.05em; 
  color: #333; 
}

/* 设置参数容器的样式，设置宽度、高度、背景颜色和阴影 */
.params-container {
  margin-left: 0; /* 移除左侧外边距 */
  margin-top: 0;
  padding-top: 0;
  /* 调整宽度，使用 calc 函数计算剩余宽度的一半 */
  width: 104vh; 
  height: 100vh;
  padding: 2em; 
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; 
  line-height: 2.0; 
  letter-spacing: 0.1em; 
  text-align: left; 
  background-color: #e0e0e0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* 设置侧边栏标题的样式，字体适中 */
.sidebar h2 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 10px;
}
